services:
  api:
    build: ./backend
    environment:
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_HOST: ${DB_HOST}
      AUTH0_DOMAIN: ${AUTH0_DOMAIN}
      AUTH0_API_IDENTIFIER: ${AUTH0_API_IDENTIFIER}
      AUTH0_CLIENT_ID: ${AUTH0_CLIENT_ID_BACKEND}
      AUTH0_CLIENT_SECRET: ${AUTH0_CLIENT_SECRET}
      ENABLE_SWAGGER: "true"
      HOST_IP: "0.0.0.0"
      CORS_ALLOWED_ORIGINS: "http://localhost,http://localhost:4200,http://localhost:8000"
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
  db:
    image: mariadb:11.8.5
    environment:
      MARIADB_DATABASE: ${DB_NAME}
      MARIADB_USER: ${DB_USER}
      MARIADB_PASSWORD: ${DB_PASSWORD}
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    healthcheck:
      test: [ "CMD", "healthcheck.sh", "--connect", "--innodb_initialized" ]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./backend/db/init.sql:/docker-entrypoint-initdb.d/init.sql
  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
  frontend:
    build: ./frontend
    ports:
      - "80:80"
    depends_on:
      - api
    environment:
      API_URI: ${API_URI}
      AUTH0_DOMAIN: ${AUTH0_DOMAIN}
      AUTH0_CLIENT_ID: ${AUTH0_CLIENT_ID_FRONTEND}
      AUTH0_API_IDENTIFIER: ${AUTH0_API_IDENTIFIER}
volumes:
  db_data:
