services:
  api:
    container_name: verysecureapp_api
    build: ./backend
    environment:
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_HOST: ${DB_HOST}
      AUTH0_DOMAIN: ${AUTH0_DOMAIN}
      AUTH0_API_IDENTIFIER: ${AUTH0_API_IDENTIFIER}
      AUTH0_CLIENT_ID: ${AUTH0_CLIENT_ID}
      AUTH0_CLIENT_SECRET: ${AUTH0_CLIENT_SECRET}
      ENABLE_SWAGGER: "false"
      HOST_IP: "0.0.0.0"
    networks:
      - db-net
      - proxy-network # Port 8000 / api.verysecureapp.com
    depends_on:
      db:
        condition: service_healthy
  db:
    container_name: verysecureapp_db
    image: mariadb:11.8.5
    environment:
      MARIADB_DATABASE: ${DB_NAME}
      MARIADB_USER: ${DB_USER}
      MARIADB_PASSWORD: ${DB_PASSWORD}
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    healthcheck:
      test: [ "CMD", "healthcheck.sh", "--connect", "--innodb_initialized" ]
      start_period: 10s
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - db-net # Port 3306
    volumes:
      - db_data:/var/lib/mysql
      - ./backend/db/init.sql:/docker-entrypoint-initdb.d/init.sql
  frontend:
    container_name: verysecureapp_frontend
    build: ./frontend
    networks:
      - proxy-network # Port 80 / verysecureapp.com
    depends_on:
      - api

volumes:
  db_data:


networks:
  db-net:
  proxy-network:
    external: true
