name: Production CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch: 

jobs:
  # JOB 1: Bouwen en Valideren (CI)
  # Dit om te vermijden om te controleren of de code uberhaubt build
  build-and-validate:
    name: Build and Validate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Validate Docker Compose Config
        run: docker compose config
        env:
          DB_NAME: ${{ secrets.DB_NAME }}
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_ROOT_PASSWORD: ${{ secrets.DB_ROOT_PASSWORD }}
          AUTH0_DOMAIN: ${{ secrets.AUTH0_DOMAIN }}
          AUTH0_API_IDENTIFIER: ${{ secrets.AUTH0_API_IDENTIFIER }}
          AUTH0_CLIENT_ID: ${{ secrets.AUTH0_CLIENT_ID }}
          AUTH0_CLIENT_SECRET: ${{ secrets.AUTH0_CLIENT_SECRET }}

      - name: Build Services
        run: docker compose build
        env:
          DB_NAME: ${{ secrets.DB_NAME }}
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
          DB_HOST: ${{ secrets.DB_HOST }}
          DB_ROOT_PASSWORD: ${{ secrets.DB_ROOT_PASSWORD }}
          AUTH0_DOMAIN: ${{ secrets.AUTH0_DOMAIN }}
          AUTH0_API_IDENTIFIER: ${{ secrets.AUTH0_API_IDENTIFIER }}
          AUTH0_CLIENT_ID: ${{ secrets.AUTH0_CLIENT_ID }}
          AUTH0_CLIENT_SECRET: ${{ secrets.AUTH0_CLIENT_SECRET }}

  # JOB 2: Security Scan (SAST)
  # Gebeurt alleen als het bouwen van de code succesvol is
  security-scan:
    name: Security Scan
    needs: build-and-validate 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run Semgrep SAST
        uses: returntocorp/semgrep-action@v1
        with:
          config: p/owasp-top-ten

  # JOB 3: Deploy naar eigen server (CD)
  deploy:
    name: Deploy to Production
    needs: security-scan 
    runs-on: self-hosted
    # Github secrets als variabelen inladen, om deze in de docker compose te kunnen gebruiken
    env:
      DB_NAME: ${{ secrets.DB_NAME }}
      DB_USER: ${{ secrets.DB_USER }}
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      DB_HOST: ${{ secrets.DB_HOST }}
      DB_ROOT_PASSWORD: ${{ secrets.DB_ROOT_PASSWORD }}
      AUTH0_DOMAIN: ${{ secrets.AUTH0_DOMAIN }}
      AUTH0_API_IDENTIFIER: ${{ secrets.AUTH0_API_IDENTIFIER }}
      AUTH0_CLIENT_ID: ${{ secrets.AUTH0_CLIENT_ID }}
      AUTH0_CLIENT_SECRET: ${{ secrets.AUTH0_CLIENT_SECRET }}
    
    steps:
      - name: Allow Git to use current directory
        run: git config --global --add safe.directory /home/githubrunner/verysecureapp
      - name: Update en Restart Docker Containers
        run: |
          cd /home/githubrunner/verysecureapp
          git fetch origin main
          git reset --hard origin/main
          docker compose up -d --build
          docker image prune -f
