name: Snyk Security

on:
  push:
    branches: ["main" ]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  snyk:
    permissions:
      contents: read
      security-events: write
      actions: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up Snyk CLI to check for security issues
        uses: snyk/actions/setup@806182742461562b67788a64410098c9d9b96adb
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}

      - name: Set up Node.js and Install Dependencies
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install Node Dependencies
        run: npm install --prefix ./app/

      # Step 3: Snyk Code Test
      - name: Snyk Code test
        run: snyk code test --sarif --fail-on=never > snyk-code.sarif || true

      - name: Snyk Open Source monitor
        run: snyk monitor --all-projects --file=./app/package.json || true

      - name: Snyk IaC test and report
        run: snyk iac test --report --org=YOUR_ORG_ID || true

      - name: Build a Docker image
        run: docker build -t your/image-to-test -f ./app/Dockerfile ./app/

      - name: Snyk Container monitor
        run: snyk container monitor your/image-to-test --file=./app/Dockerfile || true

      - name: Upload result to GitHub Code Scanning
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: snyk-code.sarif
